<div class="row">
  <div class="col-sm-2">
    <ul class="nav nav-pill nav-stacked">
      <% @categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <% @products.each do |product| %>
        <%= link_to product.name, product_path(product), :class => "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>