<div class="row">
  <div class="col-sm-6">
    <ul class="nav nav-pill nav-stacked">
      <div class='col-sm-12 product'>
        <div class='media'>
          <%= image_tag Faker::Placeholdit.image("480x320", "png", 'e6e6e6'), class: 'pull-left' %>
          <div class='media-body'>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <%= render :partial => "form_store/products/buy", :locals => { :product => @product} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= render 'form_store/comments/form', :url => category_product_comments_path(@product.category, @product) if user_signed_in? %>
  </div>
  <div class="col-sm-6">
    <%= render 'form_store/comments/list', :comments => @product.comments, :title => @product.name %>
  </div>
</div>